.back{
    font-size: 18px;
    color: #000;
}
.back:hover{
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.hb{
    display: flex;
    margin-bottom: 2rem;
}
.titre{
   margin-left: 8em;
}