    <!--CARDS DE CLINICS-->

    <section *ngIf="showAdminBoard">
      <c-row>
        <c-col xs="12" lg="12">
          <c-card class="mb-4">
            <c-card-header> Statistique générale </c-card-header>
            <c-card-body>
              <c-row>
                <c-col lg="6" sm="6" xs="12">
                  <c-widget-stat-f
                    [title]="'Nombre medecin'"
                    class="mb-3"
                    color="primary"
                    padding
                    value="{{NbreMedecin}}"
                  >
                    <ng-template cTemplateId="widgetIconTemplate">
                      <svg cIcon name="cilSettings" size="xl" width="24"></svg>
                    </ng-template>
                  </c-widget-stat-f>
                </c-col>
              </c-row>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    
      <!--CARDS DE CLINICS-->
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Nouveau medecin</h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="d('Cross click')"
          ></button>
        </div>
        <div class="modal-body">
          <form cForm class="row g-3">
            <c-col [xs]="6">
              <label cLabel for="nom">Nom *</label>
              <input cFormControl id="nom" name="nom" type="text" [(ngModel)]="nom" placeholder="Nom" required/>
            </c-col>
            <c-col [xs]="6">
              <label cLabel for="prenom">Prenom *</label>
              <input cFormControl id="prenom" name="prenom" type="text" [(ngModel)]="prenom" placeholder="Prenom" required/>
            </c-col>
  
            <c-col [md]="12">
              <label cLabel for="email">Email *</label>
              <input cFormControl id="email" type="email" name="email" placeholder="Email" [(ngModel)]="email" required/>
            </c-col>
            <c-col [xs]="12">
              <label cLabel for="sexe">Genre *</label>
              <select aria-label="Default select example" cSelect id="sexe" name="sexe" [(ngModel)]="sexe">
                <option selected disabled>Choisir genre</option>
                <option value="Homme">Homme</option>
                <option value="Femme">Femme</option>
              </select>
            </c-col>
  
            <c-col [xs]="12">
              <label cLabel for="idSpec">Specialite *</label>
              <select aria-label="Default select example" cSelect id="idSpec" name="idSpec" [(ngModel)]="idSpec">
                <option selected disabled>--choisir specialite--</option>
                <option *ngFor="let sp of specialites" value="{{sp.idSpecialite}}">{{sp.libelleSpecialite}}</option>
              </select>
            </c-col>
  
  
            <c-col [xs]="12">
              <label cLabel for="naissance">Date de naissance*</label>
              <input cFormControl id="naissance" name="naissance" type="date" [(ngModel)]="naissance" required/>
            </c-col>
            <c-col [xs]="12">
              <label cLabel for="contact">Contact *</label>
              <input cFormControl id="contact" name="contact" placeholder="Phone professionnel" [(ngModel)]="contact" required/>
            </c-col>
            <div class="mb-3">
              <label cLabel for="image">Image</label>
              <input aria-label="file example" cFormControl id="image" name="image" type="file" (change)="recuperationImg($event)" required/>
              <c-form-feedback [valid]="false"
                >Example invalid form file feedback</c-form-feedback
              >
            </div>
  
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="c('Save click')"
            (click)="onCreate()"
          >
            Save
          </button>
        </div>
      </ng-template>
  
      <div style="display: flex;justify-content: space-between;">
        <c-input-group class="input-prepend" style="margin-bottom: 10px;width: 35%;">
          <span cInputGroupText>
            <svg cIcon name="cilMagnifyingGlass"></svg>
          </span>
          <input name="search" [(ngModel)]="searchText" cFormControl placeholder="Rechercher" type="text" />
          <button cButton color="info">Search</button>
        </c-input-group>
      </div>
          <!-- Button trigger modal -->
      <c-row>
        <c-col xs>
          <div class="listvide" *ngIf="NbreMedecin==0">
            <label>Il n'y existe pas encore de medecin</label>
            </div>
          <c-card class="mb-4" *ngIf="NbreMedecin">
            <c-card-header>Medecins</c-card-header>
  
            <table
              [hover]="true"
              [responsive]="true"
              [striped]="true"
              align="middle"
              cTable
              class="mb-0 border"
            >
              <thead cTableColor="light">
                <tr>
                  <th>ID</th>
                  <th>Image</th>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Email</th>
                  <th>Genre</th>
                  <th>Date de naissance</th>
                  <th>Contact</th>
                  <th>Clinique</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medecin of medecins | filter : searchText
                  | paginate : { itemsPerPage: 4, currentPage: p };
                let id = index">
                <td>
                  {{ id+1 }}
                </td>
              <td>
                <div>
                  <img *ngIf="medecin.imageMedecin" src="{{ medecin.imageMedecin }}" alt=""
                  style="width:60px; height: 60px;border-radius: 50%;">
                </div>
                <div>
                  <img *ngIf="medecin.imageMedecin==null" src="../../../assets/images/angular.jpg" alt=""
                  style="width:60px; height: 60px;border-radius: 50%;">
                </div>
              </td>
                  <td>
                    <div class="txt">{{ medecin.nomMedecin }}</div>
                  </td>
                  <td class="text-center" style="font-size: 13px;">
                    {{ medecin.prenomMedecin }}
                  </td>
                  <td class="txt">
                    {{medecin.emailMedecin}}
                  </td>
                  <td class="txt">
                    {{ medecin.sexeMedecin }}
                  </td>
                  <td class="txt">
                    {{ medecin.naissanceMedecin }}
                  </td>
                  <td class="txt">
                    {{ medecin.contactMedecin }}
                  </td>
                  <td class="txt">
                    {{ medecin.clinique.nomEtPrenom }}
                  </td>
                </tr>
              </tbody>
            </table>
          </c-card>
        </c-col>
      </c-row>
      <!-- Button trigger modal -->
      
        <!--PAGINATION DE TABLE-->
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event" nextLabel="Suivants" previousLabel="Précédents"></pagination-controls>
    </div>
  <!--PAGINATION DE TABLE-->
  
  
    </section>
 