
.box{
    background:var(--bg-color-1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background-color: #fff;
    width: 50%;
    margin: auto;

}
.back{
    font-size: 18px;
    color: #000;
}
.back:hover{
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.hb{
    display: flex;
    margin-bottom: 2rem;
}
.titre{
   margin-left: 8em;
}
.message{
    color: red;
    font-size: 12px;
}
.img{
    text-align: center;
    // margin-bottom: 2rem;
}